* {
	margin: 0px;
	padding: 0px;
	border:0px;
}

body{
	background: #fff3b0 top left repeat-x;
	text-align:center;
	font-family:'Monaco','Consolas','Monotype','trebuchet-MS',Verdana, Arial;
}

body div {
	width:770px;
	margin:0px auto;
	text-align: left;
}
	
.header {
	border-bottom: 10px solid #FFC56A;
	height:115px;
	padding:5px;
	background:url("/static/images/clouds.jpg") right top no-repeat;
}

.domainShouter {
	width:760px;
	height:330px;
	padding:10px;
	display:block;
	text-align:center;
	background:url("/static/images/magicbox.png") 50% 50% no-repeat;
}

.domainPop{
	margin-top:90px;
	font-size:10px;
	/*border: 1px solid #000;*/
	width:500px;
	height:170px;
	text-align:center;
	padding-top:50px;	
}

.dList{
	margin:5px;
	padding:5px;
	display:inline-block;
	background:#646464;
}
.dList a{
	text-decoration:none;
	color:#ffffff;
	font-weight:bold;
}

.dList:hover {
	background:#00000;
}

.dList a:hover {
	color:#4ebbd0;
}


.domainList {
	text-align:center;
}

.banner {
	padding-top:20px;
	text-align:center;
}

.footer {
	margin-top:80px;
	background:url("/static/images/w3ninjas.png") 50% top no-repeat;
/*	height:684px;*/
	text-align:center;
	padding-top:450px;
	padding-bottom:40px;
}

.about {
	width:679px;
	height:184px;
	background: url("/static/images/woodenblock.png") 50% 50% no-repeat;
}
.about p {
	padding:50px;
	display:block;
	color:#4d1800;
	font-size:12px;
}

.about i {
	display:inline-block;
	background-color:#1b1e1c;
	color:#71d7f3;
	padding:3px 5px;
	font-weight:bold;
}


.about a {
	display:inline-block;
	background-color:#1b1e1c;
	font-weight:bold;
	padding:3px 5px;
	color:#9ee22e;
	text-decoration:none;
}


